// COLORES
$colorPrincipal: #52b788;
$colorSecundario: #95d5b2;
$colorTexto: antiquewhite;
$colorAcento: #c44536;

//FUENTES
$fuenteNav: "Cinzel", "Roboto";
$fuente: "Poppins", "Roboto";

//MEDIDAS
$height: 85vh;